@import "../../../styles/variables.scss";

.nav {
  display: flex;
  list-style: none;
  text-decoration: none;

  > li {
    display: flex;
    color: $secondary-text-color;

    :hover {
      color: $secondary-color;
    }
    > a {
      padding: 0.5rem 1rem;
    }
  }
}
