$border: 1px solid red;

$primary-color: #005ca4;
$secondary-color: #ededf0;

$primary-text-color: #314351;
$secondary-text-color: #8ec6f5;

$error-color: #f00;
$error-text-color: #fff;

$success-color: #4caf50;
$success-text-color: #fff;

$disabled-color: #bdbdbd;
$divider-color: #bdbdbd;
