$primary-color: #005ca4;
$secondary-color: #ededf0;

$primary-text-color: #314351;
$secondary-text-color: #8ec6f5;
$text-muted: #93a1b0;

$error-color: #f00;
$error-text-color: #fff;

$success-color: #4caf50;
$success-text-color: #fff;

$warning-color: #ff9800;
$warning-text-color: #fff;

$disabled-color: #bdbdbd;
$divider-color: #bdbdbd;
