@import "../variables.scss";

.text-center {
  text-align: center;
}

.text-primary {
  color: $primary-text-color;
}

.text-secondary {
  color: $secondary-text-color !important;
}

.text-white {
  color: #fff;
}

.text-muted {
  color: $text-muted;
}

.text-warning {
  color: $warning-color;
}
